<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<div id="movies">
  <% @movies.each do |movie| %>
    <div id="<%= dom_id movie %>">
        <p>
          <strong>Title:</strong>
          <%= movie.title %>
        </p>

        <p>
          <strong>Rating:</strong>
          <%= movie.rating %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= movie.description %>
        </p>

        <p>
          <strong>Release date:</strong>
          <%= movie.release_date %>
        </p>
      </div>
      <p><%= link_to "Show this movie", movie %></p>
  <% end %>
</div>

<%= link_to 'Add new movie', new_movie_path, class: 'btn btn-primary' %>